.flex {
    display: flex;
    position: relative;

    .flex-grow {
        flex-grow: 1;
    }

    .flex-double-weight {
        flex-grow: 2;
    }

    .flex-wrap {
        flex-wrap: wrap !important;
    }
}

.flex-vertical {
    flex-flow: column nowrap;
}

.flex-center-content {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.bottom-separator {
    border-bottom: 1px solid var(--muted-highlight);
}

.align-center {
    text-align: center;
}

.window-drag {
    -webkit-app-region: drag;

    .no-window-drag {
        -webkit-app-region: none;
    }
}

.hover-change:hover {
    color: var(--highlight-color);
}

.fill-height {
    height: 100%;
}

.no-left {
    border-left: none !important;
}

.no-right {
    border-right: none !important;
}

.full-border {
    border: 1px solid var(--highlight-color);
}

.margin-right-1rem {
    margin-right: 1rem;
}
